body.theme2 {
    --background: hsl(0, 0%, 90%);
    --foreground: hsl(60, 10%, 19%);

    --calculatorDisplayBackground: hsl(0, 0%, 93%);

    --calculatorKeypadBackground: hsl(0, 5%, 81%);
    --calculatorKeyBackground: hsl(45, 7%, 89%);
    --calculatorKeyShadow: inset 0 -3px hsl(35, 11%, 61%);
    --calculatorKeyColor: hsl(60, 10%, 19%);

    --calculatorDestructiveKeyBackground: hsl(185, 42%, 37%);
    --calculatorDestructiveKeyShadow: inset 0 -3px hsl(185, 58%, 25%);
    --calculatorDestructiveColor: hsl(0, 0%, 100%);

    --calculatorEqualKeyBackground: hsl(25, 98%, 40%);
    --calculatorEqualKeyShadow: inset 0 -3px hsl(25, 99%, 27%);
    --calculatorEqualKeyColor: hsl(0, 0%, 100%);
}